!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %link{ :rel => "shortcut icon", :href => "/favicon.ico" }
    = stylesheet_link_merged :base
    /[if IE 7]
      = stylesheet_link_tag 'ie_7'
    /[if IE 8]
      = stylesheet_link_tag 'ie_8'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js'
    = javascript_include_merged :base

    %title
      - if @project
        - if @project.new_record?
          New project -
        - elsif current_page?(edit_project_path(@project))
          == Settings - #{@project.name} (project) -
        - else
          == #{@project.name} (project) -
      - elsif current_page?(edit_profile_path)
        Account -
      Lowdown
  %body
    #content
      .container
        = yield
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      try {
      var pageTracker = _gat._getTracker("UA-2309237-12");
      pageTracker._trackPageview();
      } catch(err) {}      
      